<a href="/"><button>GO BACK</button></a>
<a href="/gallery/{{id}}/edit"><button>EDIT</button></a>

<form action="/gallery/{{id}}/?_method=delete" method="post">
    <input type="hidden" name="{{id}}" value="{{id}}">
    <input id="delete" type="submit" value="Delete">
</form>

<h1>Posted by {{user.username}}</h1>
<img src="{{image_url}}" alt="">
<p>{{description}}</p>